body
{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1
{
    font-size: 48px;
}
span{
    color: orangered;
}
.flex
{
    display: flex;

}
.bio
{
    width: 50%;
    padding: 5%;
}
.bio img
{
    width: 80%;
}
.hireme
{
    text-decoration: none;
   background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 10px;
    color: aliceblue;    
    font-weight: 700;
}
.bio2
{
    width: 50%;
    padding: 5%;
}
.bio2 img
{
    width: 50%;
}
.Download
{
    text-decoration: none;
   background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 10px;
    color: aliceblue;    
    font-weight: 700;
}
.first
{
    background-image: url(istockphoto-1303637923-170667a.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    
}
.second
{
    background-image: url(449940.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    margin: 0%;

}
.third
{
    background-image: url(449940.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1920px 500px;
    margin: 0%;
   
}
footer{
    text-align: center;
}
.shadow
{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;    
    
}